.overlay {
  max-width: 1184px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-top: 92px;
}
@media screen and (max-width:320px) {
  .overlay{
    margin:64px 0px 64px 0px;
  }
}