.intro__title{
  color: #FFF;
  font-size: 54px;
  margin-top: 114px;
  width: 100%;
  
}
@media screen and (max-width: 768px){
  .intro__title {
    padding: 0px 24px;
    width: 100%;
    letter-spacing: 4px; 
  }
}
