.intro__text-one{
  color: #FFF;
  font-size: 24px;
  padding: 40px 0px 32px 0px;
}
@media screen and (max-width: 768px){
  .intro__text-one {
    padding: 40px 24px 0px 24px;
    max-width: 100%;
  }
}
@media screen and (max-width: 320px){
  .intro__text-one {
    padding: 40px 16px 0px 16px;
  }
}