@media (max-width: 320px) {
  .place__image {
    width: 100%; /* Робить картинку розтягнутою на весь блок */
  }
}
.place__image{
  width: 340px;
}
@media (max-width: 512px) {
  .place__image {
    width: 100%; /* Робить картинку розтягнутою на весь блок */
  }
}