.footer__list{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding-right: 18px;
}
@media screen and (max-width: 320px){
  .footer__list{
    flex-direction: column;
    padding-bottom: 14px;
  }
}
