.footer__link{
  color: #FFF;
  font-size: 16px;
  line-height: 18px; /* 112.5% */
  text-decoration: none;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding-right: 18px;
}
@media screen and (max-width: 320px){
  .footer__link{
    flex-direction: column;
    padding-bottom: 14px;
  }
}