.footer{
  display: flex;
  justify-content: space-between;
  margin: 92px 48px 24px 48px;
}
@media screen and (max-width: 512px){
  .footer{
    flex-direction: column;
  }
}
@media screen and (max-width: 320px){
  .footer{
    flex-direction: column;
  }
}
