.place {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  padding: 0px 148px 0px 148px;
}
@media screen and (max-width:1024px) {
  .place {
    padding: 0px 48px 12px 48px;
  }
}
@media (max-width: 768px) {
  .place {
    padding: 0px  24px;
}
}
/* Додаткові стилі для адаптації */
@media (max-width: 512px) {
  .place {
    padding: 0;
}
}