.intro__list{
  color: #FFF;
  font-size: 12px;
  font-weight: 700;
  list-style-type: none;
  margin-top: 33px;
  line-height: 18px;
}
@media screen and (max-width: 768px){
  .intro__list {
    padding: 0px 24px;
  }
}
@media screen and (max-width: 320px){
  .intro__list {
    padding: 0px 16px;
  }
}