.intro__text-two{
  color: #FFF;
  font-size: 16px;
  line-height: 163%;
  max-width: 690px;
  width: 100%;
}
@media screen and (max-width: 768px){
  .intro__text-two {
    padding: 32px 24px 0px 24px;
    max-width: 100%;
  }
}
@media screen and (max-width: 320px){
  .intro__text-two {
    padding: 32px 16px 0px 16px;
  }
}